
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: brown !important;
}
.navbar {
  background-color: blue !important;
}
img {
  width: 100%;
}
