@import "variables";
@import "nav";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}
.horizontal-line {
    margin-top: 50px;
    width: 30%;
    border: 2px solid $light-gray;
}
.page-banner {
    height: 500px;
    // background-image: url("feedback.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header {
    margin: 5rem 1.5rem; // top bottom: 50px, left, right: 25px
    font-size: 5rem !important;
}
.subpage-header {
    font-size: 4rem !important;
    margin: 5rem 1.5rem 1rem 1.5rem;

}
ul {
    margin-left: 5rem !important;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    cursor: pointer;
}
p {
    margin: 0 1.5rem !important;
}

table {
    margin-top: 2rem;
    td {
        padding: 1.5rem;
    }
    th {
        padding: 1.5rem;
    }
}
.generator {
    width: 100% !important;
    .btn {
        background: transparent !important;
        display: block;
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 3rem;
        color: #333;
        font-size: 2rem;
        font-weight: bold;
        border: 3px solid #333;
        &:hover {
            background: #00BC6C !important; 
            border: 3px solid #00BC6C;
        }
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
    }
}
.tabs {
    margin-top: 5rem;
    .card-title {
        margin-left: 1.5rem;
    }
    .btn {
        background: transparent !important;
        float: right;
        padding: 1rem 1.5rem;
        color: #333;
        font-size: 2rem;
        font-weight: bold;
        border: 3px solid #333;
        &:hover {
            background: #333 !important;
            border: 3px solid #333;
        }
    }
}
.serial {
    text-align: center;
}
footer {
    margin-top: 10rem;
    text-align: center;
    font-size: 1.6rem;
}