.navbar {
    a {
        color: #d6d6d6;
        &:hover {
            color: #fff;
        }
    }
    .navbar-brand {
        font-size: 1.6em !important;
    }
    .navbar-toggler {
        border: 2px solid #333;
        padding: 1rem;
        border-radius: 0;
    }
}